// --------------------------------

// Custom Style - your bespoke style

// --------------------------------

@import 'custom-style/colors';
@import 'custom-style/spacing';
@import 'custom-style/shared-styles';
@import 'custom-style/typography';
@import 'custom-style/icons';
@import 'custom-style/buttons';
@import 'custom-style/forms';

body {
    background-color: rgb(82, 79, 79);
}


h1 {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 10%;
    color: white;
}

footer, main{
  h3, h4, p {
    color: white;
    margin-bottom: 2%;
}
}


.orange {
    background-color: darkorange;
    padding: 2%;
    color: black;
}

.cont--index {
  background: top / contain no-repeat url("../img/Port-leucate-Bateaux-dans-le-port.jpeg");
  background-size: cover;
}

.test {
  height: 700px;
  background: bottom / contain no-repeat url("../img/map.png");
  background-size: cover;
}
/* -------------------------------- 

File#: _1_newsletter
Title: Newsletter 
Descr: Newsletter form template
Usage: codyhouse.co/license

-------------------------------- */

// .newsletter {}

.newsletter__form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--space-xxs);

  .form-control {
    min-width: 0;
    border-radius: 0;
    border: 2px solid black;
  }

  @include breakpoint(xs) {
    grid-template-columns: 1fr auto;

    &.newsletter__form--col-3 {
      grid-template-columns: 1fr 1fr auto;
    }

    &.newsletter__form--col-2 {
      grid-template-columns: repeat(2, 1fr);

      .btn {
        grid-column: span 2;
      }
    }
  }
}

.newsletter__feedback {
  font-size: var(--text-sm);
  padding: var(--space-xs);
  border-radius: var(--radius-md);
  margin-top: var(--space-xs);
  // hide
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.newsletter__feedback--is-visible {
  // show
  position: relative;
  clip: auto;
  clip-path: none;
}

.newsletter__feedback--success {
  background-color: alpha(var(--color-success), 0.2);
}

.newsletter__feedback--error {
  background-color: alpha(var(--color-error), 0.2);
}

.newsletter__feedback--warning {
  background-color: alpha(var(--color-warning), 0.2);
}

.newsletter__small {
  line-height: 1.4;
  color: var(--color-contrast-medium);
  font-size: var(--text-xs);

  a {
    color: var(--color-contrast-high);
  }
}
/* -------------------------------- 

File#: _1_modal-window
Title: Modal Window
Descr: A modal dialog used to display critical information
Usage: codyhouse.co/license

-------------------------------- */

.modal {
  position: fixed;
  z-index: var(--zindex-overlay);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;

  &:not(.modal--is-visible) {
    pointer-events: none;
    background-color: transparent;
  }
}

.modal--is-visible {
  opacity: 1;
  visibility: visible;
}

.modal__content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 100%;
}

// close button
.modal__close-btn {
  display: flex;
  flex-shrink: 0;
  border-radius: 50%;
  transition: .2s;

  .icon {
    display: block;
    margin: auto;
  }
}

.modal__close-btn--outer { // close button - outside the modal__content
  width: 3.2em;
  height: 3.2em;
  position: fixed;
  top: var(--space-sm);
  right: var(--space-sm);
  z-index: var(--zindex-fixed-element);
  background-color: alpha(var(--color-contrast-higher), 0.8);

  &:hover {
    background-color: var(--color-contrast-higher);
  }

  .icon {
    color: var(--color-bg); // icon color
  }
}

.modal__close-btn--inner { // close button - inside the modal__content
  width: 2em;
  height: 2em;
  background-color: var(--color-bg);
  box-shadow: var(--shadow-sm);

  .icon {
    color: inherit; // icon color
  }

  &:hover {
    box-shadow: var(--shadow-md);
  }
}

// animations
:root {
  --modal-transition-duration: 0.2s;
}

@media (prefers-reduced-motion: no-preference) {
  .modal--animate-fade {
    --modal-transition-duration: 0.2s;
    transition: opacity var(--modal-transition-duration), background-color var(--modal-transition-duration), visibility 0s var(--modal-transition-duration);

    &.modal--is-visible {
      transition: opacity var(--modal-transition-duration), background-color var(--modal-transition-duration), visibility 0s;
    }
  }

  .modal--animate-scale,
  .modal--animate-translate-up,
  .modal--animate-translate-down,
  .modal--animate-translate-right,
  .modal--animate-translate-left {
    --modal-transition-duration: 0.2s;
    transition: opacity var(--modal-transition-duration), visibility 0s var(--modal-transition-duration);

    .modal__content {
      will-change: transform;
      transition: transform var(--modal-transition-duration) var(--ease-out);
    }

    &.modal--is-visible {
      transition: opacity var(--modal-transition-duration), visibility 0s;

      .modal__content {
        transform: scale(1); // reset all transformations
      }
    }
  }

  .modal--animate-slide-up,
  .modal--animate-slide-down,
  .modal--animate-slide-right,
  .modal--animate-slide-left {
    --modal-transition-duration: 0.3s;
    transition: opacity 0s var(--modal-transition-duration), background-color var(--modal-transition-duration), visibility 0s var(--modal-transition-duration);

    .modal__content {
      will-change: transform;
      transition: transform var(--modal-transition-duration) var(--ease-out);
    }

    &.modal--is-visible {
      transition: background-color var(--modal-transition-duration), visibility 0s;

      .modal__content {
        transform: scale(1); // reset all transformations
      }
    }
  }

  // scale
  .modal--animate-scale {
    .modal__content {
      transform: scale(0.95);
    }
  }

  // translate
  .modal--animate-translate-up {
    .modal__content {
      transform: translateY(40px);
    }
  }

  .modal--animate-translate-down {
    .modal__content {
      transform: translateY(-40px);
    }
  }

  .modal--animate-translate-right {
    .modal__content {
      transform: translateX(-40px);
    }
  }

  .modal--animate-translate-left {
    .modal__content {
      transform: translateX(40px);
    }
  }

  // slide
  .modal--animate-slide-up {
    .modal__content {
      transform: translateY(100%);
    }
  }

  .modal--animate-slide-down {
    .modal__content {
      transform: translateY(-100%);
    }
  }

  .modal--animate-slide-right {
    .modal__content {
      transform: translateX(-100%);
    }
  }

  .modal--animate-slide-left {
    .modal__content {
      transform: translateX(100%);
    }
  }
}

// load content - optional
.modal--is-loading {
  .modal__content {
    visibility: hidden;
  }

  .modal__loader {
    display: flex;
  }
}

.modal__loader { // loader icon
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  pointer-events: none;
}